@import "../../global.scss";

.portfolioList{
    font-size: 20px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 7px;
    border-radius: 2px;
    cursor: pointer;

    @include mobile{
        margin: 4px ;
    }

    &.active{
        background-color: $mainColor;
        color: white;
    }

}